[submodule "cpm-core"]
  path = core
  url = git@github.com:Lynks05/appfm-core

[submodule "cpm-cli"]
  path = cli
  url = git@github.com:Lynks05/appfm-cli

[submodule "cpm-web-ui"]
  path = web
  url = git@github.com:Lynks05/appfm-web-ui

