[submodule "cpm-core"]
  path = core
  url = git@github.limsi.fr:/appfm/core

[submodule "cpm-cli"]
  path = cli
  url = git@github.limsi.fr:/appfm/cli

[submodule "cpm-web-ui"]
  path = web
  url = git@github.limsi.fr:/appfm/web-ui

[submodule "cpm-data"]
  path = data
  url = git@github.limsi.fr:/appfm/data
